@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose-invert {
    --tw-prose-body: #9ca3af;
    --tw-prose-headings: #ffffff;
    --tw-prose-links: #818cf8;
    --tw-prose-bold: #e5e7eb;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #4b5563;
    --tw-prose-hr: #262626;
    --tw-prose-quotes: #d1d5db;
    --tw-prose-quote-borders: #4f46e5;
    --tw-prose-captions: #6b7280;
    --tw-prose-code: #818cf8;
    --tw-prose-pre-code: #ffffff;
    --tw-prose-pre-bg: #111827;
    --tw-prose-th-borders: #374151;
    --tw-prose-td-borders: #1f2937;
  }
}
